html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a-scene {
  width: 100vw !important;
  height: 100vh !important;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}


/* Responsive cho tablet */
@media (max-width: 1024px) {
  .dropdown {
    top: 8px;
    left: 8px;
    font-size: 14px;
  }
}

/* Responsive cho mobile */
@media (max-width: 768px) {
  .dropdown {
    top: 6px;
    left: 6px;
    font-size: 12px;
    max-width: 90%;
  }
}